ul.seamless {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-highlight {
  display: inline;
  padding: 0 0.5rem;
  -ms-box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;

  color: #fff;
  background-color: var(--highlight-color, blue);
}

.icon {
  display: inline-block;
  vertical-align: middle;

  svg {
    display: block;
    width: 1em;
    height: 1em;
    color: inherit;

    * {
      fill: currentColor;
    }
  }
}

.circle {
  border-radius: 999em;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.pos-f {
  position: fixed;
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

.pos-s {
  position: static;
}

.top {
  top: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.border-radius {
  border-radius: 6px;
  overflow: hidden;
}

.bsh {
  &-1 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  &-2 {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }

  &-3 {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  }
}

.video-frame {
  height: 0;
  padding: 0 0 56.25% 0;
  position: relative;

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.phone-frame {
  border-radius: 1.6rem;
  padding: 2.4rem 0.8rem 1.6rem;
  background: linear-gradient(100deg, #000, #333);
  position: relative;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75),
    inset 0.25rem 0.25rem 0.25rem 0 rgba(255, 255, 255, 0.5),
    inset -0.25rem -0.25rem 0.25rem 0 rgba(0, 0, 0, 0.85);

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 1.2rem;
    border-radius: 0.5rem;
  }

  &::before {
    left: 30%;
    width: 30%;
    height: 0.5rem;
    background-color: #555;
  }
  
  &::after {
    right: 30%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #2065c6;
  }

  img, video {
    border-radius: 0.8rem;
    width: 100%;
  }
}
