@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Raleway:wght@200;400;700&display=swap');

:root {
  --base-font-family: 'Manrope', sans-serif;
  --title-font-family: 'Raleway', sans-serif;
  --base-font-size: 1em;
  --base-font-weight: 300;
  --small-font-size: calc(var(--base-font-size) * 0.875);
  --base-line-height: 1.5;

  --white: white;
  --grey-100: #f7f7f7;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #333333;
  --black: black;
  
  --red-1: #dc6724;
  --red-2: #b33b1f;
  --red-3: #a71f0b;

  --green-1: #0e8200;
  --green-2: #0b5e00;
  --green-3: #0a4900;

  --blue-1: #0077b5;
  --blue-2: #005f94;
  --blue-3: #004b7a;

  --brand-color: #dc6724;
  --brand-color-secondary: #0e8200;

  --text-color: var(--grey-800);
  --link-color: var(--red-1);
  --link-color-hover: var(--red-3);
  --background-color: var(--white);

  --github-color: #000000;
  --linkedin-color: #0077b5;

  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing: 24px;
  --spacing-m: 36px;
  --spacing-l: 48px;
  --spacing-xl: 64px;

  --on-palm: 600px;
  --on-laptop: 800px;
  --content-width: 900px;
  --large-content-width: 1200px;
}